.container{
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4 / 1fr);
}
.home{
    background-color: darkred;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(1 / 1fr);

}
.about{
    background-color:blue;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(1 / 1fr);
}
.skills{
    background-color: green;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(1 / 1fr);
}
.contact{
    background-color: yellow;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(1 / 1fr);
}