#about {
    padding-top: 10vh;
    padding-left: 5vw;
    padding-right: 10vw;
    padding-bottom: 7vh;
    height: 190vh;
    align-content: space-around;
}

.about-intro{
    word-spacing: 1.5px;
    font-size: 18px;
    color: #36454F;
}

#umuzi {
    list-style-type: none;
    color: #e2ca73;
    font-weight: 600;
    text-decoration: none;
    padding: 0;
    margin: 0;
    width: min-content;
}

@media only screen and (max-width: 481px){
    #about {
        width: 80vw;
        height: 200vh;
        padding: 10px;
    }
}