#about {
    padding-top: 10vh;
    padding-left: 5vw;
    padding-right: 10vw;
    padding-bottom: 7vh;
    height: 150vh;
}
.about-intro{
    word-spacing: 1.5px;
    font-size: 18px;
    color: #36454F;
}

h3 {
    font-size: 15px;
    color: #36454F;
}

p {
    font-size: 16px;
    padding: 5px;
}

#umuzi {
    list-style-type: none;
    color: blue;
    text-decoration: none;
    padding: 0;
    margin: 0;
    width: min-content;
}

@media only screen and (max-width: 481px){
    #about {
        width: 80vw;
        padding: 10px;
    }
    
    .about-intro{
        word-spacing: 1.5px;
        font-size: 18px;
        color: #36454F;
    }

    p {
        font-size: 12px;
        padding: 5px;
    }
}