*{
    padding: 0%;
    margin: 0%;
    overflow: hidden;
}

.navigation{
    grid-area: N;
    bottom: 0;
    float: center;
    position: fixed;
    background-color: white;
    border: 1px solid #fff;
}

#home, #about, #work, #contact {
    height: 100vh;
    max-height: max-content;
    padding: 5px;
    display: inline-block;
}

@media (min-width:500px){
    .container{
        display: grid;
        grid-template-areas: "N P P P";
    }

    .navigation{
        grid-area: N;
    }

    .pages{
        grid-area: P;
        position: absolute;
        top: 0;
        right: 0;
        left: 25vw;
        display: grid;
        overflow: hidden;
    }
    #home, #about, #work, #contact {
        position: relative;
        padding: 5px;
    }
}

