#contact {
    align-content: space-around;
    padding-top: 10vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 10vh;
    min-height: 100vh;
    display: inline-block;
}

.contacts {
    margin: auto;
    height: 50%;
    justify-items: center;
    
}


@media only screen and (max-width:768px){
    
    #contact {
        width: 80vw;
        padding: 10px;
    }

    .contact_heading {
        word-spacing: 1.5px;
        font-size: 16px;
        padding-bottom: 10px;
    }

    .links {
        padding-left: 20px;
        padding-top: 10px;
    }

}

