#contact {
    padding-top: 10vh;
    padding-left: 5vw;
    padding-right: 10vw;
    padding-bottom: 7vh;
    height: 100vh;
    width: 80vw;
}

@media only screen and (max-width:481px){
    
    #contact {
        width: 80vw;
        padding: 10px;
    }
}

