*{
    padding: 0%;
    margin: 0%;
    background-color: ivory;
}

.container{
    display: grid;
    grid-template-areas: 
    "h"
    "a"
    "s"
    "c";
}

.home{
    height: 100vh;
}

.about{
    height: 100vh;
}
.skills{
    height: 100vh;
}
.contact{
    height: 100vh;
}

/* @media (min-width: 540px){} */
    