.home{
    justify-content: space-evenly;
    padding: 10px;
    height: 100vh;
    max-height: max-content;
}
.name {
    word-spacing: 1.5px;
    text-transform: uppercase;
    color: #36454F;
}

.cover-image{
    align-self: center;
    width: 80vw;
    /* height: 60vh; */
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.ending{
    float: left;
    padding: 10px;
}

img{
    width: auto;
    max-width: 80%;
    max-height: 35vh;
    height: auto;
    padding-left: 10vw;
    padding-right: 10vw;
    align-self: center;
}



@media (min-width: 650px){
    .occupation {
        word-spacing: 1.5px;
    }
    
    .intro{
        height: 20%;
    }
    
    .cover-image{
        width: 100%;
    }
    
    .ending{
        float: inline-end;
        padding: 40px;
    }
}