#home{
    margin-right: 2px;
    padding-top: 10vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 10vh;
    min-height: 100vh;
    display: inline-block;
}

.ending{
    margin: auto;
    padding-top: 2vh;
}
.occupation {
    word-spacing: 1.5px;
}

.intro{
    height: 20%;
}

.cover-image{
    transform: translate(10%);
}

.cover { 
    position: relative;
}

@media only screen and (max-width:768px) {
    #home {
        width: 80vw;
        height: 90vh;
        padding: 10px;
        align-content: space-between;
    }
    
    #cover{
        max-width: 80%;
        max-height: 90%;
    }  
}

