
#menu{
    display: block;
    position: fixed;
    top: 0;
    width: 20vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #4E4E50;
}

.menu_items {
    list-style-type: none;
    display: block;
    text-align: center;
    border-bottom: 1px thin #fff;
} 

.btn_menu {
    width: 20vw;
    padding-top: 25px;
    padding-bottom: 25px;
    display: list-item;
    text-decoration: none;
    text-align: center;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
}

a.btn_menu:hover {
    background-color: rgb(207, 204, 173);
}

.btn_menu:active{
    color: #e2ca73;
    color: #36454F;
}


@media only screen and (max-width:768px) {

    .navigation{
        height: 10vh;
    }
    
    #menu {
        list-style-type: none;
        justify-content: space-evenly;
        display: flex;
        position: fixed;
        bottom: 0;
        width: 100vw;
        height: 10vh;
        background-color: #4E4E50;
    }

    #menu_items {
        display: inline-block;

    }
    
    .btn_menu {
        padding-top: 15px;
        padding-bottom: 10px;
        width: auto;
        text-decoration: none;
        text-align: center;
        letter-spacing: 1px;
        font-weight: 700;
        font-size: 14px;
        color: #fff;
    }
}
