ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 10vh;
    background-color: #36454F;
}

li {
    display: block;
    text-align: center;
    border-bottom: 1px thin #fff;
} 

a {
    display: inline-block;
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    width: 100%;
    background-color: transparent;
    text-decoration: none;
    text-align: center;
    color: #fff;
}

@media (min-width: 500px){
    
    ul{
        list-style-type: none;
        display: block;
        position: fixed;
        top: 0;
        width: 23.2vw;
        height: 100vh;
        padding: 0;
        margin: 0;
        background-color: #36454F;
    }
    
    a {
        width: 22.22vw;
        padding-top: 25px;
        padding-bottom: 25px;
        border: 1px thin #fff;
        display: list-item;
        text-decoration: none;
        text-align: center;
        background-color: transparent;
    }

    a.btn_menu:active, a.btn_menu:focus {
        color: #e2ca73;
        background-color: rgb(207, 204, 173);
    }
}

a.btn_menu:hover {
    background-color: rgb(207, 204, 173);
}

a.btn_menu:active, a.btn_menu:focus {
    color: #e2ca73;
    background-color: rgb(207, 204, 173);
}
#btn-menu:target{
    color: #36454F;
    background-color: #e2ca73;
}