#work {
    align-content: space-around;
    padding-top: 10vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 10vh;
    min-height: 100vh;
    display: inline-block;
}

.skills-list, .links {
    padding: 40px;
    list-style-type: circle;
}

.skills-list{
    color: white;
}

@media only screen and (max-width:768px){
    
    #work {
        display: inline-block;
        width: 80vw;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: left;
    }

    .skills-list, .links {
        padding: 10px;
    }

    .skills-list{
        color: white;
    }
}

