#work {
    padding-top: 10vh;
    padding-left: 5vw;
    padding-right: 10vw;
    padding-bottom: 7vh;
    height: 100vh;
    width: 80vw;
}

.skills-list, .links {
    padding: 40px;
}

@media only screen and (max-width:481px){
    
    #work {
        display: inline-block;
        width: 80vw;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: left;
    }

    .skills-list, .links {
        padding-top: 10px;
    }
}

