#work {
    padding-top: 10vh;
    padding-left: 5vw;
    padding-right: 10vw;
    padding-bottom: 7vh;
    height: 100vh;
    width: 80vw;
}

.projects, .skills-list {
    padding: 40px;
}

/* .project-links {
    padding-bottom: 10px;
    list-style-type: none;
}*/



@media only screen and (max-width:481px){
    
    #work {
        width: 80vw;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: left;
    }

    .skills-list, .projects {
        padding: 10px;
    }
}

